<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="debrie.android.fr.spibens">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@mipmap/spibens" />
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/colorAccent" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/spibens"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LauncherActivity" />
        <activity
            android:name=".HappyHourActivity"
            android:label="Happy Hour" />
        <activity
            android:name=".CineClub"
            android:label="Cine Club" />
        <activity
            android:name=".MembersActivity"
            android:label="Members" />
        <activity
            android:name=".ProfileActivity"
            android:label="Profile" />
        <activity
            android:name=".ProfileEditActivity"
            android:label="@string/title_activity_profile_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".GamesActivity"></activity>
    </application>

</manifest>